header{
    position: fixed;
    z-index: 400;
}
.navbar{
    position:fixed;
    z-index: 400;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 100px;
    background: #E5F4F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.user{
    color: #3E53AF;
    margin-left: 30px;
    align-items: center;
}
.navbar  a {
    text-decoration: none;
    color: #3E53AF;
    font-size: 20px;
    padding: 0 10px;
    display: inline-block;
}
.navbar .items a::after{
    content: '';
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.15rem solid #3E53AF;
    transform: scaleX(0);
    transition: 0.2s linear;
}
.navbar .items a:hover::after{
    transform: scaleX(0.5);
}
.navbar .items{
    display: flex;
}
.navbar .items a.nav-item.active{
    transform: scaleX(0.5);
}
.navbar .items a img{
    width: 25px;
}
.nav-item{
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0 13px;
}
nav .access .access{
    background-color: #685DBD;
    color: #E5F4F4;
    padding: 5px 25px;
    border-radius: 7px;
}
.nav-item img{
    margin-right: 6px;
}
.content{
    display: flex;
    justify-content: center;
    margin: 7vw 7vw;
}